RssReader.xcworkspace/xcuserdata/a1.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
RssReader.xcworkspace/xcuserdata/makeev.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Pods/Pods.xcodeproj/xcuserdata/a1.xcuserdatad/xcschemes/xcschememanagement.plist
RssReader.xcodeproj/xcuserdata/a1.xcuserdatad/xcschemes/xcschememanagement.plist
